<h1>Mustdos</h1>
<div id="mustdolist"></div>

<script type="text/javascript" charset="utf-8">
  React.render(
    React.createElement(MustdoList),
    document.getElementById('mustdolist')
  );
</script>
